.bg-image {
  background-image: url('img/thank you.png');
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
    /* モバイルデバイス用のスタイル */
    .bg-image {
        font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: url('img/thank you.png');
     /* 画像をウィンドウ全体にカバーさせる */
    background-repeat: no-repeat; /* 画像の繰り返し表示を無効にする */
     /* 画像を固定背景にする */
    background-position: center center; /* 画像を中央に配置 */
    
        background-attachment: scroll; /* スクロールに設定し、固定背景を解除 */
        background-size: contain; /* 画像を縦横比を保ったまま表示 */
        background-position: center top; /* 画像を上部に配置 */
    }
}


